.detail {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  height: auto;
}

.detail::after {
  content: ' ';
  display: inline-block;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background: rgba(22, 22, 22, 0.75);
}

.detail nav {
  padding: 0.5rem 0;
  background-color: var(--color-secondary);
}

.detail summary {
  list-style: none;
}

.seccion {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.seccion > * {
  width: fit-content;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}
