.table {
  border-collapse: collapse;
  max-width: 60ch;
  min-width: 30ch;
  margin-left: auto;
  margin-right: auto;
  line-height: var(--line-height);
  border: 1px solid #aaa;
}

.table td {
  padding: 1em;
}

.table .table td:first-child {
  padding-right: 3em;
}

.table td a {
  display: block;
  padding: 0.5em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
}

.table tr:nth-child(even) a:hover {
  background-color: #bbb;
  border-radius: 8px;
}

.table tr:nth-child(odd) {
  background-color: #ccc;
}

.table tr:nth-child(odd) a:hover {
  background-color: #888;
  border-radius: 8px;
}
