.header {
	grid-area: header;
}

.menuButton__container {
	position: relative;
	height: 32px;
	width: 32px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuButton,
.menuButton::after,
.menuButton::before {
	--height: 6px;

	display: block;
	background-color: #fff;
	position: absolute;
	height: var(--height);
	transition-property: margin-top, transform, background-color;
	transition-duration: 400ms;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: calc(var(--height) / 2);
}

.menuButton {
	width: 90%;
}

.menuButton::before {
	content: '';
	margin-top: -8px;
	width: 100%;
}

.menuButton:after {
	content: '';
	margin-top: 8px;
	width: 100%;
}

.menuToggle:checked + .menuButton__container .menuButton {
	background-color: rgb(0 0 0 / 0);
}

.menuToggle:checked + .menuButton__container .menuButton::after {
	margin-top: 0;
	transform: rotate(-405deg);
}

.menuToggle:checked + .menuButton__container .menuButton::before {
	margin-top: 0;
	transform: rotate(405deg);
}

@media (prefers-reduced-motion: reduce) {
	.menuButton,
	.menuButton::after,
	.menuButton::before {
		transition: none;
	}
}
