.table {
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #000;
  border-collapse: collapse;
  box-shadow: 0 2px 20px var(--shadow);
}

.table td {
  padding: 1em;
}

.table tr th {
  background-color: var(--color-principal);
  font-size: 1.2rem;
  color: var(--white-color);
  padding: 0.5em 0;
  border: solid 3px #000;
}

.table td {
  border: solid 2px #000;
}
