.form {
  flex: 0 1 240px;
  overflow: hidden;
}

.submit {
  padding: 0.4rem 0.6rem;
  background: var(--submit-background);
  font-size: 1.2rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 400;
}

.submit:hover {
  background: var(--submit-hover);
}

.submit,
.input {
  transition: transform 0.3s ease;
}

.input {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  width: 14ch;
  font-size: 1.2rem;
  font-weight: 400;
  border-color: transparent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 900px) {
  .submit,
  .input {
    transform: translateX(14ch);
  }

  .submit {
    border-radius: 0;
    padding: 0.4rem 0.6rem;
  }
}
