.subTitle {
  display: block;
  max-width: 65ch;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.img {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
