.socialCard {
  position: absolute;
  top: -45px;
  display: flex;
  width: 9rem;
  height: 3rem;
  border: 4px solid transparent;
  background-color: var(--color-principal);
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8em;
  z-index: 1;
}

.socialCard::after {
  content: ' ';
  position: absolute;
  top: -4px;
  left: 100px;
  height: 3.2rem;
  width: 7rem;
  background-color: inherit;
  border-top-right-radius: 60px;
  transform: skewX(45deg);
  z-index: -1;
}

.svg {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg path {
  fill: var(--hover);
}

.footer {
  position: relative;
  width: 100%;
  background-color: var(--color-principal);
  color: var(--white-color);
}

.footerSection {
  padding: 1.3rem 1rem;
  max-width: fit-content;
  min-width: min-content;
  margin: 0 auto;
  column-count: var(--column-m);
  text-align: center;
}

.footerSection h2 {
  margin-top: 0;
  column-span: all;
}

.footerSection ul {
  padding: 0;
  margin: 0;
}

.footerSection li {
  list-style: none;
}

.footerSection h3 {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.footerSection span {
  display: inline-block;
  margin-bottom: 0.6rem;
}

@media (max-width: 620px) {
  .footerSection {
    column-count: var(--column-s);
  }
}
